table {
    margin: 10px 0px;
}

thead th {
    background-color: #e9e9f3;
    font-weight: bold !important;
}

tbody tr {
    cursor: pointer;
}

th, td, tr {
    padding: 5px 10px;
    text-decoration: none;
    font-weight: normal;
    font-size: 14px;

}

tr:nth-child(even) {
    background-color: #e9e9f3;
  }